$control-size: 30px;
$control-offset: 10px;

$color-border: rgba(0, 0, 0, 0.2);
$color-border-control: rgba(0, 0, 0, 0.3);

$color-text-primary: #000;
$color-text-secondary: #777;
$color-link: #4169e1;
$color-selection: lighten($color-link, 35%);
